{%extends 'index.html'%}
{%block content%}
<div class="container" id="payment" style="padding-top:20px;">
    
    <h2 class="section-title">Оплата</h2>
    <p><strong>Оплата переводом по номеру или реквизитам карты</strong> <br />*Оплата производится по номеру или реквизитам таких карт как Сбербанк или Тинькофф. По окончании процесса оплаты, на указанный Вами ранее электронный адрес при оформлении заказа - придет письмо с информацией о платеже.</p>
    <p><strong>Оплата курьеру при получении</strong><br />*Данный способ доступен только жителям Москвы и Московской области.</p>
    <h2 class="section-title">Доставка</h2>
    <p><strong>Доставка курьерской службой</strong><br />*Стоимость доставки будет зависеть от адреса, на который она необходима. Дата и время доставки предварительно обговариваются.</p>
    <p><br /><strong>Доставка Почтой России</strong><br />*Срок доставки и ее стоимость рассчитываются индивидуально.</p>
    <ul>
    <li>Отследить состояние доставки заказа можно по идентификатору почтового отправления.</li>
    <li>Идентификатор высылается на Ваш электронный адрес сразу после отправки заказа.</li>
    <li>В случае если Вы не получите посылку в течение 30 дней, она будет отправлена обратно.</li>
    <li>Бесплатный срок хранения посылки в отделении Почты России после ее прихода составляет 7 дней, сверх этого срока Вам будет необходимо оплатить стоимость хранения по тарифам Почты России.</li>
    </ul>
    <p><strong>Самовывоз</strong><br />*Вы всегда можете приехать и самостоятельно забрать свой заказ по адресу:</p>
    <p>г. Москва, ул. Вешняковская, дом 18А.</p>
    <p>Дата и приблизительное время Вашего приезда - предварительно обговариваются.</p>
</div>
{%endblock%}