<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='img/logo.svg') }}">
    <title>Мастерская "Crafty Fox"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
   <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(92253944, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/92253944" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <div class="page-header">
      <div class="container">
        <div class="header-top clearfix">
          <div class="header-logo">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" width="205" height="55">
          </div>
          <ul class="main-nav clearfix">
            <li><a href="#"><b>Магазин</b></a></li>
            <li><a href="#"><b>Каталог</b></a></li>
            <li><a href="#"><b>Отзывы</b></a></li>
          </ul>
          <!-- <a class="btn btn-quick-order" href="#">Заказать</a> -->
        </div>
        <div class="promo">
          <a href="#">Мастерская<br>"Crafty Fox"</a>
        </div>
      </div>
    </div>


    <div class="features">
      <div class="container">
        <ul class="clearfix">
          <li class="feature-item feature-choice">
            <h2 class="feature-title">Выбор</h2>
            <p>Каждый заказ индивидyально согласовывается с Вами.</p>
          </li>
          <li class="feature-item feature-quality">
            <h2 class="feature-title">Качество</h2>
            <p>Наша работа не портится на второй день. Все работы выполняются исключительно из качественных материалов.</p>
          </li>
          <li class="feature-item feature-safety">
            <h2 class="feature-title">Безопасность</h2>
            <p>Все изготовлено из натуральных и безопасных материалов.</p>
          </li>
        </ul>
      </div>
    </div>


    <!-- <div class="cat-reference">
      <div class="container">
        <h2 class="section-title">О нас</h2>
        <a class="btn to-full-reference" href="#" title="Открыть справочник">Справочник</a>
        <dl>
          <div class="theory-container">
            <dt class="reference-title">
              Окрас кошек и котов
              <i class="reference-source">источник: <a target="_blank" href="https://ru.wikipedia.org">wikipedia</a></i>
            </dt>
            <dd>
              <img src="img/article-1.jpg" alt="Окрас кошек и котов" width="100" height="100">
              <p>Окрас шерсти, кожи и глаз кошки обусловлен присутствием в них пигмента меланина. Меланин находится в теле волоса в виде микроскопических гранул, которые различаются по форме, размеру и количеству, что и вызывает различия в окрасе.</p>
            </dd>
          </div>
          <div class="theory-container">
            <dt class="reference-title">
              Кошкин дом
              <i class="reference-source">источник: <a target="_blank" href="http://kotmur.spb.ru">kotmur.spb.ru</a></i>
            </dt>
            <dd>
              <img src="img/article-2.jpg" alt="Кошкин дом" width="100" height="100">
              <p>Нужен ли кошке Кошкин дом? Свой отдельный, обособленный от пространства городской квартиры Кошкин дом? Да, нужен! Нужен особый Кошкин дом, обустроенный по ее вкусу с лесенкой, с когтеточкой, с замкнутым, своим, отдельным уголком в ее, кошкином, доме.</p>
            </dd>
          </div>
        </dl>
      </div>
    </div> -->


    <div class="popular-and-price">
      <div class="container">
        <h2 class="section-title">Популярные товары</h2>
        <!-- <a class="btn to-catalog" href="#" title="Посмотреть все товары">Каталог</a> -->
        <div class="popular-items clearfix">
          {%for product in products%}
          <div class="catalog-item">
            <img src="{{product.image}}" alt="{{product.name}}" width="306" height="206">
            <h3>{{product.name}}</h3>
            <b class="catalog-item-price">{{product.price}} р.</b>
            <h3>Время выполнения:</h3>
            <b class="catalog-item-price">{{product.time}} часов</b>
            <a class="btn btn-info" href="#">Описание</a>
            <a class="btn btn-buy" href="#">Купить</a>
          </div>
          {%endfor%}
        </div>

        <h2 class="section-title">Прайс-лист на услуги</h2>
        <table class="price-list">
          <tr>
            <th class="price-number">№</th>
            <th>Название услуги</th>
            <th>Кто оказывает</th>
            <th>Сколько стоит</th>
          </tr>
          <tr>
            <td class="price-number">1.</td>
            <td class="price-name">Кастомизация одежды</td>
            <td class="price-master">Дизайнер / Хyдожник</td>
            <td class="price-cost">3500 руб.</td>
          </tr>
          <tr>
            <td class="price-number">2.</td>
            <td class="price-name">Рyчное вязание одежды</td>
            <td class="price-master">Портной</td>
            <td class="price-cost">3000 руб.</td>
          </tr>
          <tr>
            <td class="price-number">3.</td>
            <td class="price-name">Изготовление домашних аксессуаров</td>
            <td class="price-master">Дизайнер</td>
            <td class="price-cost">2000 руб.</td>
          </tr>
          <!-- <tr>
            <td class="price-number">4.</td>
            <td class="price-name">Подбор аксессуаров</td>
            <td class="price-master">Стилист</td>
            <td class="price-cost">1500 руб.</td>
          </tr> -->
        </table>
      </div>
    </div>

    <div class="reviews">
      <div class="container">
        <h2 class="section-title">Отзывы</h2>
        <!-- <a class="btn to-all-reviews" href="#" title="Посмотреть все отзывы">Все отзывы</a> -->
        <div class="reviews-list clearfix">
          <blockquote class="review-item">
            <p>Заказал кастомизацию фyтболки. Раньше пользовался сервисами печати, но решил попробовать новое. Пришлось немного подождать, но оно того стоило. Отличное качество, не трескается после стирки. Реалистичный рисyнок</p>
            <cite class="review-author">Егор, г. Москва</cite>
          </blockquote>
          <blockquote class="review-item">
            <p>Подарила своемy мyжy вязанный шарф, теперь не выходит на yлицy без него)</p>
            <cite class="review-author">Оксана, г. Санкт-Петербург</cite>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="feedback">
      <div class="container">
        <h2 class="section-title">Оставить заявку:</h2>
        <p class="feedback-tip">Свяжитесь с нами и мы развеем оставшиеся у вас сомнения!</p>

        <form class="feedback-form" action="/order" method="post">
          {{ form.hidden_tag() }}
          <div class="feedback-form-group">
            <label for="fullname">Представьтесь, пожалуйста:</label>
            <input type="text" name="name" id="fullname">
          </div>
          <div class="clearfix">
            <div class="feedback-form-group feedback-form-group-left-part">
              <label for="phone">Контактный телефон:</label>
              <input type="text" name="phone" id="phone">
            </div>
            <div class="feedback-form-group feedback-form-group-right-part">
              <label for="email">Электронная почта:</label>
              <input type="text" name="email" id="email">
            </div>
          </div>
          <div class="checkbox-area">
            <label>
              <input type="checkbox" name="subscription">
              Я согласен получать новости и оповещения о скидках
            </label>
          </div>
          <!-- <div class="feedback-form-group">
            <label for="topic">Тема обращения:</label>
            <select name="topic" id="topic">
              <option value="1">Условия доставки</option>
              <option value="2">Возврат товара</option>
              <option value="3">Жалоба в Роспотребнадзор</option>
            </select>
          </div> -->
          <div class="feedback-form-group">
            <label for="message">Текст обращения:</label>
            <textarea name="content" id="message"></textarea>
          </div>
          <input class="btn" type="submit" value="Отправить">
        </form>
      </div>
    </div>


    <div class="page-footer">
      <div class="container">
        <!-- <div class="footer-top clearfix">
          
          <a class="btn btn-quick-order" href="#">Заказать</a>
        </div> -->

        <!-- <div class="footer-middle clearfix">
          <div class="footer-menu">
            <h3>Магазин</h3>
            <ul>
              <li><a href="#">Домики</a></li>
              <li><a href="#">Одежда</a></li>
              <li><a href="#">Очки</a></li>
            </ul>
          </div>
          <div class="footer-menu">
            <h3>Отзывы</h3>
            <ul>
              <li><a href="#">Показать</a></li>
              <li><a href="#">Оставить</a></li>
            </ul>
          </div>
          <div class="footer-menu">
            <h3>Прайс-лист</h3>
            <ul>
              <li><a href="#">Скачать прайс</a></li>
            </ul>
          </div>
        </div> -->

        <div class="footer-bottom clearfix">
          <div class="footer-logo">
            <img src="{{ url_for('static', filename='img/logo2.svg') }}" alt="Logo" width="55" height="60">
          </div>

          <div class="footer-social">
            <b>Давайте дружить!</b>
            <a class="social-btn social-btn-vk" href="https://vk.com/partum.vulpes">Вконтакте</a>
            <a class="social-btn social-btn-fb" href="https://facebook.com/partum.vulpes">Фейсбук</a>
            <a class="social-btn social-btn-in" href="https://instagram.com/partum.vulpes">Инстаграм</a>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
